<mat-card *ngFor="let product of products$ | async">
  <mat-card-title>{{product.name}}</mat-card-title>
  <mat-card-content>
    {{product.price | currency: "EUR"}}
    <p>{{product.description}}</p>
    <ng-container *ngIf="product.image" >
      <img src="{{product.image}}">
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToCart(product)">LIKE</button>
    <button mat-button (click)="removeFromCart(product)">SHARE</button>
  </mat-card-actions>

</mat-card>
